<div class="contenedorResponse anim fadeIn">
	<div class="filaResponse">
		<div class="positionContainer">
			<p>Space station position: <span>{{originalLatitude}} , {{originalLongitude}} - {{ countryAndCity2[0] }}</span></p>
		</div>
		<div class="allContent">
			<div class="card-columns">
			<app-tarjetas *ngIf="imagesCitys.length > 0" [imagesCitys]="imagesCitys" [countryAndCity2]="countryAndCity2"></app-tarjetas>

			<div *ngIf="imagesCitys.length === 0" class="contentError">
				<img src="../../../assets/190.jpg" class="imageDonFind" alt="">
				<p>So sorry we couldn't find any palce</p>
			</div>
			</div>
		</div>
	</div>
</div>

