.contenedorResponse {
	position: absolute;
	display: inline-block;
	background-color: #F5F5F5;
	text-align: center;
	width: 100%;
	height: 100%;
	left: 0;
	overflow-y: auto;
}

.allContent {
	position: relative;
	margin: 0 auto;
	padding: 10px 5px 20px 5px;
}

.card-columns {
	position: relative;
	padding-top: 10px;
}

.positionContainer {
	position: relative;
	margin-top: 55px;
	left: 0;
	width: 100%;
	background-color: #007bff;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
}

.positionContainer p {
	padding: 10px;
}

.contentError {
	width: 100%;
	position: absolute;
	text-align: center;
}

.imageDonFind {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.contentError p {
	padding-top: 10px;
	font-size: 1.3em;
}