<div class="contenedor">
	<div class="circle"  style="animation-delay: 0s"></div>
	<div class="circle"  style="animation-delay: 1s"></div>
	<div class="circle"  style="animation-delay: 2s"></div>
</div>