.contenedor {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.circle {
    height: 40px;
    width:40px;
    margin: auto;
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    background-color: #007bff;
    animation: scaleInLoading 3s infinite cubic-bezier(.36, .11, .89, .32);
}