<app-loading *ngIf="loading"></app-loading>
<app-response *ngIf="!loading" [imagesCitys]="imagesCitys" [originalLatitude]="originalLatitude" [originalLongitude]="originalLongitude" [countryAndCity2]="countryAndCity2"></app-response>
<div class="contenedorSearch">
	<div class="iconHelp scaleInBigger" data-toggle="modal" data-target="#exampleModal">
		<div class="helpIcon">
			<i class="fas fa-question"></i>
		</div>
	</div>
	<div class="allContentB" style="animation-delay: 0s"></div>
	<div class="allContentB" style="animation-delay: .8s"></div>
	<div class="allContentButton" id="allContentButton" (click)="getInfo()">
		<p class="text-title">Get Position & Images</p>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿What is this?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <img class="imgInfo" src="../../../assets/2892.jpg" alt="">
          <p style="padding-top:10px;">Hey! This app will show you pictures with places arround 600km².</p>
          <p>All titles has the name of actual position space station. But the pictures could be from another location (always around 600km²). Sorry for that we didn't have time. </p>
          <p>Try press green button on the bottom, if you don't have success try in another time, maybe the space station is on de ocean.</p>
          <p>¡Let's do it!</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>