<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  	<a class="navbar-brand" href="#">
  	<img src="assets/world.png" width="30" height="30" alt="">	
  	<span class="pl-3">Space Station</span>
	</a>
</nav>
<div class="currentPositionCont"></div>