<div *ngIf="imagesCitys.length > 0">
	<div class="card" *ngFor="let cityImg of imagesCitys">
	    <img [src]="cityImg.largeImageURL" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title">{{ countryAndCity2[0] }}</h5>
	    </div>
	</div>
</div>
